.botaoenviar {
    padding: 4px, 8px;

    background-color: greenyellow;
    
    border-radius: 4px;
    border: 2px solid green;

    cursor: pointer;        

    margin: 16px;

}

.botaolimpar {
    padding:  4px, 8px;
    
    background-color: blueviolet;

    border-radius: 4px;
    border: 2px solid blue;
    
    cursor: pointer;

    margin: 16px;
}